<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="../images/favicon.png">
		<link rel="stylesheet" href="../styles/styles.css" />
		<link rel="stylesheet" href="../styles/animals.css">
		<script
			src="https://kit.fontawesome.com/4ca90d1c7d.js"
			crossorigin="anonymous"
		></script>
		<title>Paradigm Pet Professionals</title>
	</head>
	<body>
		<header>
			<div class="logo">
				<a href="../index.html"
					><img src="../images/logo.png" alt="Paradigm Pet Professionals Logo"
				/></a>
			</div>
			<nav>
				<div class="nav-container">
					<ul class="nav-links">
						<li class="nav-link"><a href="../index.html">Home</a></li>
						<li class="nav-link">
							<a href="./consultationrequest.html">Consultations</a>
						</li>
						<li class="nav-link"><a href="./cats.html">Cats</a></li>
						<li class="nav-link"><a href="./dogs.html">Dogs</a></li>
						<li class="nav-link"><a href="./birds.html">Birds</a></li>
						<li class="nav-link active">
							<a href="./aboutus.html">About Us</a>
						</li>
					</ul>
					<div class="search">
						<input type="text" placeholder="Search..." />
						<i class="fas fa-search search-icon"></i>
					</div>
				</div>
			</nav>
				<nav>
					<div class="nav-container">
						<ul class="secondary_nav-links">
							<li class="secondary_nav-link"><a href="../index.html">Home</a> <span>>></span> </li>
							<li class="secondary_nav-link active">
							<a href="./aboutus.html">About Us</a>
							</li>
						</ul>
					</div>
				</nav>
		</header>

				<main>
			<section class="animal-landing">
				<div class="animal-landing_info container">
					<h1>Paradigm Pet Professionals</h1>
					<p>
						Paradigm Pet Professionals has 12 years’ experience working with pet owners, certifications in pet health and nutrition, and customer recognition for outstanding support 	
					</p>
					<p>
						Virtual consultations and presentations, one-on-one consultations concerning individual pets, group presentations regarding general pet care (can be tailored to the needs of the group).
					</p>
					<p>
						Evidence-based pet care advice for every pet lover.
					</p>
					<div class="animal-landing_info__div">
						<a href="../views/consultationrequest.html">Request Consultation</a>
					</div>
				</div>

				<div class="landing-animal_images animal-images container">
					<img src="../images/peopleatdesk.jpg" alt="people at a desk" />
					<img src="../images/peopleatparkbench.jpg" alt="people at a park bench on tablet" />
				</div>
			</section>

			<section class="animal-information container">
				<div>
					<h2>Please feel free to reach out to us at anytime</h2>
					<p>
						Email: paradigpetpro@example.com
					</p>
					<p>
						Phone: 888-888-888
					</p>
				</div>
			</section>

		<footer>Paradigm Pet Professionals &copy</footer>
	</body>
</html>
