<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="../images/favicon.png" />
		<link rel="stylesheet" href="../styles/styles.css" />
		<link rel="stylesheet" href="../styles/animals.css" />
		<script
			src="https://kit.fontawesome.com/4ca90d1c7d.js"
			crossorigin="anonymous"
		></script>
		<title>Paradigm Pet Professionals</title>
	</head>
	<body>
		<header>
			<div class="logo">
				<a href="../index.html"
					><img src="../images/logo.png" alt="Paradigm Pet Professionals Logo"
				/></a>
			</div>
			<nav>
				<div class="nav-container">
					<ul class="nav-links">
						<li class="nav-link"><a href="../index.html">Home</a></li>
						<li class="nav-link">
							<a href="./consultationrequest.html">Consultations</a>
						</li>
						<li class="nav-link"><a href="./cats.html">Cats</a></li>
						<li class="nav-link"><a href="./dogs.html">Dogs</a></li>
						<li class="nav-link active"><a href="./birds.html">Birds</a></li>
						<li class="nav-link">
							<a href="./aboutus.html">About Us</a>
						</li>
					</ul>
					<div class="search">
						<input type="text" placeholder="Search..." />
						<i class="fas fa-search search-icon"></i>
					</div>
				</div>
			</nav>
			<nav>
				<div class="nav-container">
					<ul class="secondary_nav-links">
						<li class="secondary_nav-link">
							<a href="../index.html">Home</a> <span>>></span>
						</li>
						<li class="secondary_nav-link active">
							<a href="./birds.html">Birds</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<main>
			<section class="animal-landing">
				<div class="animal-landing_info container">
					<h1>Welcome Bird Lovers!</h1>
					<p>
						Birds are very intriguing creatures as they can range from birds as
						small as a Cuban bee hummingbird (about two inches long and a little
						over 1/20 of an ounce) to as large as an ostrich. While most birds
						fly, there are some that don't. Birds are amazing and each breed is
						unique in its own way, particularly when it comes to their
						relational needs and well-being. Unfortunately, birds can experience
						sadness and depression just like humans. A number of root causes may
						be responsible for your bird's depression such as an illness (either
						physical or mental), losing its companion, or increasingly becoming
						bored. Some signs to help identify if your bird is experiencing
						depression may include the following: reduced appetite, becoming
						increasingly irritable, aggressive behavior, and songs have a
						different more solemn tone. Be sure to tell your veterinarian if you
						see signs of any of these symptoms. Just like many illnesses,
						identifying and treating the symptoms earlier may drastically
						increase the lifespan of your birdie.
					</p>
					<div class="animal-landing_info__div">
						<a href="../views/consultationrequest.html">Request Consultation</a>
					</div>
				</div>

				<div class="landing-animal_images animal-images container">
					<img src="../images/bird1.jpg" alt="dog with tongue out" />
					<img src="../images/catbird.jpg" alt="dog with tree bark in mouth" />
				</div>
			</section>
		</main>
		<footer>Paradigm Pet Professionals &copy</footer>
	</body>
</html>
