<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="../images/favicon.png" />
		<link rel="stylesheet" href="../styles/styles.css" />
		<link rel="stylesheet" href="../styles/consultationrequest.css" />
		<script
			src="https://kit.fontawesome.com/4ca90d1c7d.js"
			crossorigin="anonymous"
		></script>
		<title>Paradigm Pet Professionals</title>
	</head>
	<body>
		<header>
			<div class="logo">
				<a href="../index.html"
					><img src="../images/logo.png" alt="Paradigm Pet Professionals Logo"
				/></a>
			</div>
			<nav>
				<div class="nav-container">
					<ul class="nav-links">
						<li class="nav-link"><a href="../index.html">Home</a></li>
						<li class="nav-link active">
							<a href="./consultationrequest.html">Consultations</a>
						</li>
						<li class="nav-link"><a href="./cats.html">Cats</a></li>
						<li class="nav-link"><a href="./dogs.html">Dogs</a></li>
						<li class="nav-link"><a href="./birds.html">Birds</a></li>
						<li class="nav-link">
							<a href="./aboutus.html">About Us</a>
						</li>
					</ul>
					<div class="search">
						<input type="text" placeholder="Search..." />
						<i class="fas fa-search search-icon"></i>
					</div>
				</div>
			</nav>
			<nav>
				<div class="nav-container">
					<ul class="secondary_nav-links">
						<li class="secondary_nav-link">
							<a href="../index.html">Home</a> <span>>></span>
						</li>
						<li class="secondary_nav-link active">
							<a href="./consultationrequest.html">Consultations</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>

		<main>
			<section class="consultationrequest_landing container">
				<div>
					<h1>Evidence-based pet care advice for every pet lover</h1>
					<p>
						Paradigm Pet Professionals has 12 years’ experience working with pet
						owners, certifications in pet health and nutrition, and customer
						recognition for outstanding support
					</p>
					<p>
						Virtual consultations and presentations, one-on-one consultations
						concerning individual pets, group presentations regarding general
						pet care (can be tailored to the needs of the group).
					</p>
				</div>
			</section>
			<form class="request-form">
				<div class="request-inputs">
					<label for="">Name:</label>
					<input type="text" />
				</div>
				<div class="request-inputs">
					<label for="">Phone#:</label>
					<input type="text" />
				</div>
				<div class="request-inputs">
					<label for="">Email:</label>
					<input type="text" />
				</div>
				<div class="request-inputs">
					<label for="">Time Zone:</label>
					<input type="text" />
				</div>
				<div class="request-inputs">
					<label for="">Pets Name:</label>
					<input type="text" />
				</div>
				<div class="request-inputs">
					<label for="">Type of animal:</label>
					<input type="text" />
				</div>
				<div class="request-inputs">
					<label for="">Pets Age:</label>
					<input type="text" />
				</div>
				<div class="request-form_button">
					<a>Request Consultations</a>
				</div>
			</form>
		</main>
		<footer>Paradigm Pet Professionals &copy</footer>
	</body>
</html>
